<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
</head>

<body>

    <div class="row col-12 p-5">
        <div class="col-10 blackjack-table">
            <!-- Dealer -->
            <div class="dealer">
                <h3>Dealer</h3>
                <div class="cards">
                    <app-blackjack-card *ngFor="let card of dealer" [cards]="[card]"></app-blackjack-card>
                    <div class="total-container">
                        <img src="assets/img/chip.png" alt="Chip" class="chip">
                        <div class="total">{{ calculateTotal(dealer) }}</div>
                    </div>
                </div>
            </div>

            <!-- Players -->
            <div class="players">
                <!-- Diğer oyuncular -->
                <div class="other-players">
                    <div *ngFor="let player of players.slice(1); let i = index" class="player player-{{ i + 1 }}">
                        <div class="total-container">
                            <div class="total">Total: {{ calculateTotal(player) }}</div>
                            <img src="assets/img/chip.png" alt="Chip" class="chip">
                            <div class="bet-amount"> {{ currentBets[i + 1] }}</div>
                        </div>
                        <h3>{{ playerNames[i + 1] }}</h3> <!-- Kullanıcı ismini görüntüle -->
                        <div class="cards">
                            <!-- Diğer oyuncuların kartlarını gösterme -->
                        </div>
                    </div>
                </div>

                <!-- Ana oyuncu -->
                <div class="main-player">
                    <div class="player">
                        <div class="total-container">
                            <div class="total">Total: {{ calculateTotal(players[0]) }}</div>
                            <img src="assets/img/chip.png" alt="Chip" class="chip">
                            <div class="bet-amount"> {{ currentBets[0] }}</div>
                        </div>
                        <h3>{{ playerNames[0] }}</h3> <!-- Kullanıcı ismini görüntüle -->
                        <div class="cards">
                            <app-blackjack-card *ngFor="let card of players[0]" [cards]="[card]"></app-blackjack-card>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Bet control panel -->
            <div class="bet-control">
                <!-- Bet buttons -->
                <div class="bet-buttons">
                    <button class="btn btn-success" (click)="increaseBet()">Increase</button>
                    <button class="btn btn-warning" (click)="decreaseBet()">Decrase</button>
                    <button class="btn btn-danger" (click)="resetBet()">Reset</button>
                </div>
                <!-- Betting panel -->
                <div class="betting-panel">
                    <div class="bet-input">
                        <input type="number" [(ngModel)]="currentBet" placeholder="Bahis Miktarı">
                        <button class="btn btn-primary" (click)="placeBet()">Bahis Yap</button>
                    </div>
                </div>
            </div>

            <!-- New Card ve Start Buttons -->
            <div class="new-card-start-buttons">
                <button class="btn btn-primary" (click)="hit()">New Card</button>
                <button class="btn btn-success" (click)="startGame()">Start</button>
            </div>

        </div>

        <!-- Chat -->
        <div class="col-2 chat">
            <app-chat></app-chat>
        </div>
    </div>

</body>

</html>