body,
html {
  margin: 0;
}

.row {
  height: 100%;
}

.blackjack-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(./../../../assets/img/blackjacktable.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  overflow: hidden;
  /* İçeriği dışarı taşan kısımları gizle */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* Hafif bir gölge ekleyelim */
  position: relative;
  /* Göreceli pozisyon */
}

.dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.dealer h3 {
  background-color: azure;
  border-radius: 10px;
  padding: 7px;
}

.players {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  justify-content: space-around; /* İçeriği yatayda ortala */
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.player-left {
  align-self: flex-start;
}

.player-right {
  align-self: flex-end;
}

.player-front {
  align-self: center;
}

.dealer h3,
.player h3 {
  background-color: rgba(255, 255, 255, 0.8); /* Hafif yarı saydam beyaz arka plan */
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px; /* Metin ile içerik arasında biraz boşluk */
  text-align: center; /* Metni ortala */
}

.bet-container {
  display: flex; /* Öğeleri yatay hizalama */
  align-items: center; /* Dikeyde hizalama */
  margin-bottom: 10px; /* Aşağıya 10 piksel boşluk */
}

.chip {
  width: 20px; /* Chip resminin genişliği */
  height: auto; /* Genişliğe oranlı olarak boyut ayarlaması yapar */
  margin-right: 5px; /* Sağa 5 piksel boşluk */
}

.bet-amount {
  font-size: 18px; /* Metin boyutu */
  font-weight: bold;
}
