<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
</head>

<body>

    <div class="row col-12 p-5">
        <div class="col-10 blackjack-table">
            <!-- Dealer -->
            <div class="dealer">
                <h3>Dealer</h3>
                <app-blackjack-card [cards]="dealer"></app-blackjack-card>
            </div>

            <div class="players">

                <div class="player player-left">
                    <h3>Player 1</h3>
                    <app-blackjack-card [cards]="players[0]"></app-blackjack-card>
                </div>

                <div class="player player-right">
                    <h3>Player 2</h3>
                    <app-blackjack-card [cards]="players[1]"></app-blackjack-card>
                </div>

                <div class="player player-front">
                    <h3>Player 3</h3>
                    <app-blackjack-card [cards]="players[2]"></app-blackjack-card>
                </div>
            </div>
        </div>
        <div class="col-2 chat">
            <app-chat></app-chat>
        </div>
    </div>
</body>

</html>