<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
        <div class="signup-container shadow p-4 rounded">
            <form (ngSubmit)="signUp()">
                <h2 class="text-center mb-4">Sign Up</h2>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username"
                        [(ngModel)]="signupModel.username" name="username">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email"
                        [(ngModel)]="signupModel.email" name="email">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password"
                        [(ngModel)]="signupModel.password" name="password">
                </div>

                <div class="mb-3">
                    <label for="passwordAgain" class="form-label">Password Again</label>
                    <input type="password" class="form-control" id="passwordAgain"
                        placeholder="Enter your password again" [(ngModel)]="passwordAgain" name="passwordAgain">
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberBox" [(ngModel)]="rememberMe"
                        name="rememberMe">
                    <label class="form-check-label" for="rememberBox">Remember Me</label>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>