<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <div class="container d-flex justify-content-center align-items-center text-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="mb-lg-5">
                <h1 class="display-1 roboto-font">
                    Let's Play
                </h1>
            </div>
            <div class="mb-4 mt-4">
                <div class="blackjack-bg">
                    <a href="/lobby">
                        <h3 class="display-6">Black Jack ♣</h3>
                    </a>
                </div>
            </div>

            <div class="mb-4">
                <div class="poker-bg">
                    <a href="/poker">
                        <h3 class="display-6">Poker ♦</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>