<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div id="blackjack-game">
        <div class="header bg-dark text-light p-3">
          <h1 class="display-4 text-center m-0">Good luck to all participants</h1>
        </div>
        <div *ngIf="notAllPlayersAddedBet" class="alert-box alert alert-danger mt-3">We can't play until all players bet
          something!</div>
        <div class="table-container">
          <!-- On the top of the page show the dealer -->
          <div class="dealer-area">
            <app-player [player]="dealer" [gameModeOn]="true"></app-player>
          </div>

          <!-- Buttons -->
          <div class="col-12 d-flex justify-content-center p-3">
            <div class="col-4 bg-dark p-3 rounded-4">
              <button *ngIf="!gameStarted" type="button" class="btn btn-success gameButton" (click)="dealHand()">Deal
                Hand</button>
              <button *ngIf="gameStarted" type="button" class="btn btn-success gameButton" (click)="newRound()">New
                round</button>
              <button type="button" class="btn btn-danger gameButton" (click)="goToLobby()">Back to lobby</button>
            </div>
          </div>

          <!-- And now render the list of players -->
          <div class="d-flex flex-wrap justify-content-center mt-3">
            <ul class="players-area list-unstyled">
              <li class="player-container" *ngFor="let player of players">
                <app-player [player]="player" [gameModeOn]="true"></app-player>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <app-chat></app-chat>
    </div>
  </div>
</div>
