<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row col-12 p-5">
        <p>
            <!-- hand rank message -->
            <span *ngIf="handRankMessage">{{handRankMessage}}</span>
        </p>
        <div class="col-10 poker-table">
            <div class="row">
                <!-- player2 -->
                <div class="player2 col-12 text-center table-cards rotate-up">
                    <app-poker-player></app-poker-player>
                </div>
            </div>
            <div class="row w-100">
                <!-- player1 -->
                <div class="player1 col-3 text-center table-cards rotate-left">
                    <app-poker-player></app-poker-player>
                </div>
                <!-- table-cards -->
                <div class="col-6 text-center table-cards">
                    <ng-container *ngFor="let card of tableHand">
                        <app-poker-card [cardImageUrl]="card.image" ></app-poker-card>
                    </ng-container>
                </div>
                <!-- player3 -->
                <div class="player3 col-3 text-center table-cards rotate-right">
                    <app-poker-player></app-poker-player>
                </div>
            </div>
            <!-- main-player -->
            <div class="row">
                <app-poker-player (click)="addOneCard()"></app-poker-player>
            </div>
        </div>
        <div class="col-2 chat">
            <app-chat></app-chat>
        </div>
    </div>
</body>
</html>