.card {
    width: 60px;
    height: 80px;
    margin: 4px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
}

.card-suit-value {
    font-size: 24px;
}

.card-suit {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 24px;
}

.card-value {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 24px;
}
