<div id="blackjack-lobby" class="container">
    <h2>Welcome to Blackjack game</h2>
    <h4>Please select the number of players and hit play!</h4>
    <div class="row">
        <div class="col-md-6">
            <select class="form-select" (change)="onNumberOfPlayersSelected($event)">
                <option value="0" selected>Select how many players will play</option>
                <option value="1">1 player</option>
                <option value="2">2 players</option>
                <option value="3">3 players</option>
                <option value="4">4 players</option>
            </select>
        </div>
    </div>

    <div *ngIf="numberOfPlayersSelected > 0" class="player-names mt-lg-5">
        <form (ngSubmit)="startGame()" #playerSelectionForm="ngForm">
            <div class="col-md-12 row justify-content-center m-lg-3">
                <button type="submit" class="btn btn-danger btn-play col-md-2"
                    [disabled]="!isGameStartValid()">PLAY!</button>
            </div>
            <div class="d-flex flex-wrap justify-content-center mt-3">
                <div class="col-12 col-md-6 col-lg-4 player-item" *ngFor="let player of availablePlayers">
                    <app-player [player]="player"></app-player>
                </div>
            </div>
        </form>
    </div>
</div>